<title>Index Page </title>
<h1>Hello World This is demo index</h1>
<h1> <%= " global_array: #{$global_array}" %> </h1>
<%= link_to("Hello Page", "/demo/hello") %>
<p>Find me in app/views/demo/index.html.erb</p>
ID: <%= @id %> <br>
ID: <%= params[:id] %> <br>
Page: <%= @page %> <br>

<%= link_to "Roar", "#", onclick: "jsRoar('JavaScript'); return true;" %>