<% @page_title = "Admin Menu" %>


<div class="admin-menu">
    <h2>Admin Menu</h2>
    <p>Logged in as:</p>
    <ul>
        <li> <%= link_to "Manage Subjects", subjects_path %></li>
        <li> <%= link_to "Manage Pages", pages_path %> </li>
        <li> <%= link_to "Manage Sections", sections_path %> </li>
        <li> <%= link_to "Manage Admin Users", "#" %> </li>
        <li> <%= link_to "Logout", access_logout_path %> </li> 
    </ul>
    
</div>