<table>
    <tr>
        <th> Name </th>
        <td> 
            <%= f.text_field(:name, required: true, placeholder: 'Enter section name') %>
            <span style="color: red">*</span>
        </td>
    </tr>
    <tr>
        <th> Page </th>
        <td> <%= f.select(:page_id, @pages.map { |p| [p.name, p.id]}) %> </td>
    </tr>
    <tr>
        <th> Position </th>
        <td> <%= f.select(:position, 1..@section_count, prompt: 'Select Position') %> </td>
    </tr>
    <tr>
        <th> Visible </th>
        <td> <%= f.check_box :visible %> </td>
    </tr>
    <tr>
        <th> Content Type </th>
        <td> 
            <%= f.radio_button :content_type, 'Ruby' %> Ruby
            <%= f.radio_button :content_type, 'Java' %> Java
            <%= f.radio_button :content_type, 'C#' %> C#
        </td>
    </tr>
    <tr>
        <th> Content </th>
        <td> <%= f.text_area :content, size: '50x10' %> </td>
    </tr>
</table>