<h1>Section#index</h1>

<%= link_to("Add new Section", new_section_path, :class => 'action new')%>
<table class="listing">
    <tr class="header">
        <th>#</th>
        <th>Section</th>
        <th>Visible</th>
        <th>Actions</th>
    </tr>
    <% @sections.each do |section| %>
    <tr>
        <td> <%= section.position %> </td>
        <td> <%= section.name %> </td>
        <td> <%= section.visible ? 'Yes' : 'No' %> </td>
        <td> 
            <%= link_to("Show", section_path(section), :class => 'action show') %> 
            <%= link_to("Edit", edit_section_path(section), :class => 'action edit') %> 
            <%= link_to("Delete", delete_section_path(section), :class => 'action delete') %> 

        </td>
    </tr> 
    <% end %>
</table>