<% @page_title = "All Subjects" %>
<h2>Subjects#index</h2>

<%= image_tag('plus2.png', size: '15x15', alt: '+') %>

<span style="font-size: 20px"><%= link_to("Add new Subject", new_subject_path, :class => 'action new')%></span>
<table class="listing">
    <tr>
        <th>#</th>
        <th>Subject</th>
        <th>Visible</th>
        <th>Pages</th>
        <th>Actions</th>
    </tr>
    <% @subjects.each do |subject| %>
    <tr>
        <td> <%= subject.position %> </td>
        <td> <%= subject.name %> </td>
        <!-- <td> <%= subject.visible ? 'Yes' : 'No' %> </td> -->
        <td> <%= status_tag(subject.visible) %> </td>
        <td> <%= subject.pages.size%> </td>
        <td> 
            <%= link_to("Show", subject_path(subject), :class => 'action show') %> 
            <%= link_to("Edit", edit_subject_path(subject), :class => 'action edit') %> 
            <%= link_to("Delete", delete_subject_path(subject), :class => 'action delete') %> 

        </td>
    </tr> 
    <% end %>
</table>
<div>
    <span><b><%= link_to("Pages", pages_path) %></b> &nbsp;&nbsp;</span>
    <span><b><%= link_to("Sections", sections_path) %></b></span>
</div>